/*我的订单*/
/*主要内容*/
.content-top h2{
	width: 820px;
	height: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
}
.btn,.form-control {
	padding: 2px 12px;
}
.form-control {
	height: 28px;
}
.order-select>p{
	width: 36px;height: 20px;
	font-size: 12px;
	display: inline-block;
}
.dropdown-menu{
	position: static;
	min-width: auto;
}
.dropdown-menu>li>a{
	padding: 3px 10px;
}
.order-style .dropdown-menu,.order-pay .dropdown-menu{
	min-width: 93px;
}
.order-time{
	width: 138px;height: 26px;	
	display: inline-block;
}
.order-style{
	width: 88px;height: 26px;
	display: inline-block;
}
.order-pay{
	margin-left: 20px;
	width: 88px;height: 26px;
	display: inline-block;	
}
.canceled-order{
	margin: 0px 40px 0px 10px;
	
	width: 70px;height: 26px;
	display: inline-block;
}
.order-search{
	width: 230px;height: 26px;
	display: inline-block;
}
.search-btn{
	width: 70px;height: 26px;
	display: inline-block;
	background: #000000;
	line-height: 26px;
	text-align: center;
}
.search-btn>a{
	color: white;
	line-height: 26px;
	text-align: center;
}
/*详细订单*/
.body-top{
	margin-top: 15px;
	width: 830px;height: 35px;
	background: #fcfcfc;
	border: 1px solid #e3e3e3;
}
.body-middle{
	width: 830px;height: 50px;
	border-top: 0;
	border: 1px solid #e3e3e3;
	text-align: center;
	line-height: 50px;
}





