.header{
	width: 100%;
	height: 40px;
	background: #333333;
	line-height: 40px;
	font-size: 12px;
	font-family: "宋体";
}
.contain{
	width: 100%;
	height: 642px;
	position: relative;
}
.contain-top{
	height: 69px;
}
.contain-top-logo{
	float: left;
	margin-left: 300px;
	
}
.contain-top>div>span{
	width: 72px;
	height: 69px;
	float: right;
	font-size: 18px;
	color: #666666;
	text-align: center;
	line-height: 69px;
	margin-right: 65%;
}
.contain-bottom{
	width: 100%;
	height: 553px;
	background: url(../img/1.jpg) no-repeat;
	position: absolute;
}
.contain-bottom .tab{
	left: 70%;
	background: white;
	box-sizing: border-box;
	height: 450px;
	margin-top: 50px;
	width: 378px;
	position: absolute;
}
.contain .blank{
	width: 100%;
	height: 20px;
}
.footer{l
	width: 100%;
	height: 20px;
}
.footer>p{
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #666666;
}
.form{
	width: 378px;
	height: 450px;
	margin-top: 50px;
	background: white;
	position: absolute;
	left: 70%;
}
.form-head{
	width: 348px;
	height: 41px;
	margin: 24px 15px 0 15px;
	font-size: 12px;
	text-align: center;
	
}
.form-head>a{
	float: left;
}
.zhmmdl{
	width: 174px;
	height: 40px;
	background: #000000;
}
.zhmmdl-a{
	color: #FFFFFF;
	line-height: 40px;
	background: black;
	border: none;
	width: 174px;
	height: 40px;
}
.sjhkjdl{
	width: 174px;
	height: 40px;
	background: #f3f3f3;
}
.sjhkjdl-a{
	color: #333333;
	line-height: 40px;
	border: none;
	width: 174px;
	height: 40px;
}
.form-contain{
	width: 348px;
	height: 290px;
	margin: 0 15px;
	padding: 30px 0 0 10px;
}
.srzh{
	width: 313px;
	height: 38px;
	border: 1px solid #000000;
}
.box{
	width: 48px;
	height: 36px;
	background: url(/yougou/img/people_03.png) no-repeat center;
	float: left;
}
.printk{
	width: 235px;
	height: 36px;
	float: right;
	border: none;
	outline: none;
}
.form-contain-blank{
	width: 330px;
	height: 28px;
}
.username-msg,.password-msg{
	display: none;
}
.printp{
	width: 235px;
	height: 36px;
	float: right;
	border: none;
	outline: none;
}
.box2{
	width: 48px;
	height: 36px;
	background: url(/yougou/img/suo_03.png) no-repeat center;
	float: left;
}
.form-contain-p{
	width: 321px;
	height: 25.6px;
	margin: 0 17px 0 0;
}
.form-contain-p>a{
	color: #666666;
	font-size: 12px;
	float: right;
}
.loginbtn{
	width: 312px;
	height: 40px;
	background: #000000;
	padding: 1px 6px;
	text-align: center;
}
.loginbtn1{
	width: 288px;
	background: black;
	line-height: 38px;
	font-size: 16px;
	border: none;
	color: white;
}
.form-contain-tisement{
	width: 338px;
	height: 20px;
	margin: 10px 0 0;
}
.tisement{
	color: #999999;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
}
.form-contain-foot{
	width: 338px;
	height: 40px;
	margin: 0 40px;
	margin-top: 20px;
}
.form-contain-foot>a{
	margin: 0 5px;
}
.shu{
	width: 16px;
	height: 8px;
}
.tubiao{
	margin: 0 5px;
	padding: 9px 18px;
}
.wechet{
	background: url(/yougou/img/wechet_03.png) no-repeat;
}
.zhifubao{
	background: url(/yougou/img/zhifubao_03.png) no-repeat;
}
.qq{
	background: url(/yougou/img/qq_03.png) no-repeat;
}
.weibo{
	background: url(/yougou/img/weibo2_03.png) no-repeat;
}
.renren{
	background: url(/yougou/img/renren_03.png) no-repeat;
}
.footer>p{
	background: white;
}

.username-msg{
	width: 330px;
	height: 28px;
	display: none;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #333333;
}
.password-msg{
	width: 330px;
	height: 28px;
	display: none;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #333333;
}
