/*鍏ㄥ眬鏍峰紡*/
*{margin: 0px;padding: 0px;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: bottom;}
.breadcrumb{
	/*margin-top: 150px;*/
	margin-left: 30px;
	background: none;
}
.detail1{
	padding-top: 50px;
}
.container{
	/*margin-left: 10px;*/
}
.small a li img{
	border: 2px solid gainsboro;
	/*杩囨浮鍔ㄧ敾*/
	transition: all 0.5s;
	width: 60px;
	height: 60px;
}
.small a li img:hover{
	border-color: black;
}
/*#pro-left{
	position: relative;
}*/
#pro-right{
	position: relative;
}
/*澶у浘鏍峰紡*/
.pro-big{
	width:480px;
	height: 480px;
	border: 1px solid black;
	position: absolute;
	/*right: -500px;*/
	top: 0px;
	overflow: hidden;
	/*margin-right: 450px;*/
	display: none;
}

.pro-big img{
	position:absolute;
	left: 0px;
	top: 0px;
	width:800px ;
	height: 800px;
}

.small a li{
	margin-bottom: 10px;
	height: 65px;
}
/*.small a li:hover{
	border:1px solid gray;
}*/
.big{
	width: 450px;
	height: 450px;
	/*margin-left: 30px;
	border: 1px solid red;*/
}
.big a li img{
	width: 480px;
	height: 480px;
}

.big a li{
	/*display: none;*/
	position: absolute;
}
/*鏄剧ず绗竴涓�*/
.big a li.active{
	display: block;
}
.goods{
	background: none;
	margin-top: -20px;
}
.table tr{
	border-bottom: 1px solid gainsboro;
	height: 100px;
}
.jumbotron{
	background: none;
}
.jumbotron h1{
	font-size: 36px;
}
#bg{
	padding-top: 50px; 
	/*padding-left: 150px;*/
}
.thumbnail{
	border: none;
}
.judge{
	padding:0 0 0 60px;
}
strong button{
	background: #333;
	color: white;
	border: none;
}
.shoes{
	width: 1182px;
	height: 382px;
	/*background: yellowgreen;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.full{
	/*width: 3546px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.full ul{
	width: 1182px;
	height: 382px;
	float: left;
	position: relative;
}
.shoes1{
	width: 230px;
	height: 382px;
	float: left;
	margin-right: 20px;
	margin-left: 40px;
}
.shoes1:hover{
	background: gainsboro;
}
.shoes1 a img{
	width: 210px;
	height: 210px;
	margin: 10px 10px;
}
.shoes1 img{
	margin-left: 30%;
}
.shoes1 h1{
	font-size: 16px;
	text-align: center;
}
.shoes1 a p{
	font-size: 12px;
	color: black;
	text-align: center;
}
.shoes a{
	text-decoration: none;
}
.glyphicon-menu-left{
	font-size: 30px;
	color: gray;
	left: 0px;
}
.glyphicon-menu-right{
	font-size: 30px;
	color: gray;
	right: 0px;
}
.shoes>a{
	width: 40px;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	opacity: 0.6;
}

.foot1{
	width: 100%;
	height: 150px;
	background: #333;
	margin-top: 50px;
	border-bottom: 1px solid gray;
}
.foot2{
	width: 100%;
	height: 500px;
	background: #333;
}
.detail2 img{
	width:110px;
	height:72px;
	
}
.detail9 p{
	font-size:16px;
}
.detail3{
	font-size:30px;
}
.detail4{
	margin-top: -30px;
	margin-left: 80px;
	padding-left: 12px;
	text-decoration: line-through;
}
#goodsColor,.brotherColor{
	display:inline-block;
	height:42px;
	
}

/* 颜色图下面的子颜色图 */
.sub_menu{
	position:absolute;
	display:none;
}
/*鼠标移入将子颜色图显示出来*/
#goodsColor:hover .sub_menu{
	display: block;
}
.brotherColor{
	margin-left:110px;
	margin-top:-120px;
	margin-bottom:14px;
}
.brotherColor>li:hover .sub_menu{
	display: block;
}
.brotherColor>li{
	float:left;
	position:relative;
}
#subImg{
	border:1px solid gainsboro;
}

#chooseColor{
	width:51px;
	height:42px;
	border:1px solid gainsboro;
	margin-right:10px;
}
.goodsSize:hover{
	border-color:black;
}

#chooseColor:hover{
	border-color:black;
}
#scolor,#cart{
	border:none;
}
#scolor{
	margin-left:-7px;
	margin-top:-12px;
	/* display:none; */
}
#scolor1{
	border:none;
	margin-left:-7px;
	margin-top:-12px;
	display:none;
}
#scolor2{
	border:none;
	margin-left:-7px;
	margin-top:-12px;
}


#xx1{
	display:inline-block;
	width:40px;
	/* border:1px solid gainsboro; */
	text-align:center;
	color:grey;
}
.goodsSize{
	display:inline-block;
	width:51px;
	border:1px solid gainsboro;
	margin-bottom:5px;
}
#goodsSize{
	display:inline-block;
	width:300px;
	margin-left:50px;
}
#goodsSizeSpec{
	display:inline-block;
	width:900px;
	padding-left:13px;
}
#Spec{
	display:inline-block;
	width:65px;
	margin-right:5px;
	margin-top:20px;
	/* border-bottom:1px solid gainsboro; */
	text-align:center;
	color:grey;
}
#fo{
	display:inline-block;
	width:65px;
	margin-left:25px;
	margin-top:20px;
	/* border-bottom:1px solid gainsboro; */
	text-align:center;
	color:grey;
	font-size:12px;
}
#brandL{
	margin:0 71px;
	text-align:left;
	font-size:12px;
}
#goodsTImg{
	width:50px;
	height:50px;
	margin-left:80px;
}
#single{
	display:inline-block;
	margin-top:20px;
}

.lineSize{
	margin-top:50%;
	margin-left:-40%;
	width:900px;
	height:200px;
	background:white;
	border:1px solid gainsboro;
	/* position:fixed;
	z-index:100px; */
}
#fo1{
	display:inline-block;
	width:130px;
	height:80px;
	font-size:12px;
	color:grey;
	margin-left:80px;
}
/* .size1{
	display:inline-block;
	margin-top:-20px;
} */ 
.detail5{
	padding-top: 50px;
	border-bottom: 1px solid gainsboro;
}
.detail6{
	padding-top: 20px;
}
.detail6 p{
	/* padding-bottom: 20px; */
}
.detail6 p a{
	text-decoration: none;
}
.detail6 p a img{
	border: 1px solid gainsboro;
}
.detail6 p a img:hover{
	border: 1px solid gray;
}
.detail7{
	padding-bottom: 30px;
}
#img_{
	border:none;
}
.detail7 a .btn{
	padding-left: 20px;
	padding-right: 20px;
}
.detail7 a{
	text-decoration: none;
}
.detail7 span{
	/* margin-top: -80px; */
	/* margin-left: 460px; */
	color: black;
}
/*妯℃�佹*/
.modal-body{
	padding: 0px 15px;
}
.model-header h3{
	background: gray;
	color: white;
	font-size: 16px;
}

.slide{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	/*top: 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(../img/slide_bg.png);
	display: none;
	cursor: move;
}
.active{
	width: 480px;
	height:480px;
}
#star p{
	display: inline-block;
}
.tc{
	width: 500px;
	height: 400px;
   /* border: 1px solid gainsboro;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -280px;
	margin-top: -50px;
	z-index: 100;
	display: none;
}
.close1{
	position: absolute;
	right: 10px;
	/* top: -5px; */
	/*color: #fff;*/
	font-size: 20px;
	/*z-index:100;*/
	cursor: pointer;
	color: gainsboro;
}
.tc h3{
	font-size: 14px;
	background: black;
	color: white;
	margin-top: -5px;
	/*color: #fff;*/
	/*text-align: center;*/
	position:relative ;
	z-index: 100;
	line-height: 30px;
}
.xx{
	padding: 5px 20px;
	border: 1px solid gainsboro;
}
.xx:hover{
	
	border-color: black;
	cursor: pointer;
	
}
.bk{
	width: 100%;
	height: 100%;
	/*background: #000;*/
	/*opacity: 0.5;*/
	position: absolute;
	top: 0;
	left: 0;
}
#sure{
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: black;
	color: white;
	/*border-bottom: 1px solid gainsboro;*/
}
.line{
	border: 1px solid gainsboro;
	width: 500px;
	height: 100px;
	background:white;
}
#tc{
	width: 1800px;
	height: 100px;
    border: 1px solid gainsboro;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 1500px;
	margin-top: -350px;
	z-index: 10;
	display: none;
}
#context{
	height: 500px;
	background: white;
	width: 450px;
}
#context1{
	margin-left: 10px;
	height: 300px;
}
#context h4{
	font-size: 14px;
	
}
#cha{
	display:inline-block;
	color: black;
	font-size: 30px;
	margin-top:-10px;
}
.current{
	background: gainsboro;
}
#look:hover{
	cursor: pointer;
}
#look{
	color: gray;
	font-size: 12px;
	display:inline-block;
	width:100px;
}
#num{
	display: none;
	width: 25px;
	height: 20px;
	margin-left: 1100px;
	margin-top: 75px;
}
#location{
	margin-left: 100px;
}
#position{
	color: gray;
}
.minus,.cart-num,.add{
	border: 1px solid gainsboro;
	padding: 5px 10px;
}
.minus, .add{
  cursor: pointer;
  font-weight: bold;
}
.minus:hover, .add:hover:hover{
  color:dodgerblue;
}
#end{
	margin-top: -50px;
	margin-left: 1100px;
}