/*鍏ㄥ眬鏍峰紡*/
*{margin: 0px;padding: 0px;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: bottom;}
.breadcrumb{
	/*margin-top: 150px;*/
	margin-left: 30px;
	background: none;
}
.detail1{
	padding-top: 50px;
}
.container{
	/*margin-left: 10px;*/
}
.small a li img{
	border: 2px solid gainsboro;
	/*杩囨浮鍔ㄧ敾*/
	transition: all 0.5s;
	width: 60px;
	height: 60px;
}
.small a li img:hover{
	border-color: black;
}
/*#pro-left{
	position: relative;
}*/
#pro-right{
	position: relative;
}
/*澶у浘鏍峰紡*/
.pro-big{
	width:480px;
	height: 480px;
	border: 1px solid black;
	position: absolute;
	/*right: -500px;*/
	top: 0px;
	overflow: hidden;
	/*margin-right: 450px;*/
	display: none;
}

.pro-big img{
	position:absolute;
	left: 0px;
	top: 0px;
	width:800px ;
	height: 800px;
}

.small a li{
	margin-bottom: 10px;
	height: 65px;
}
/*.small a li:hover{
	border:1px solid gray;
}*/
.big{
	width: 450px;
	height: 450px;
	/*margin-left: 30px;
	border: 1px solid red;*/
}
.big a li img{
	width: 480px;
	height: 480px;
}

.big a li{
	/*display: none;*/
	position: absolute;
}
/*鏄剧ず绗竴涓�*/
.big a li.active{
	display: block;
}
.goods{
	background: none;
	margin-top: -20px;
}
.table tr{
	border-bottom: 1px solid gainsboro;
	height: 100px;
}
.jumbotron{
	background: none;
}
.jumbotron h1{
	font-size: 36px;
}
#bg{
	padding-top: 50px; 
	/*padding-left: 150px;*/
}
.thumbnail{
	border: none;
}
.judge{
	padding:0 0 0 60px;
}
strong button{
	background: #333;
	color: white;
	border: none;
}
.shoes{
	width: 1182px;
	height: 382px;
	/*background: yellowgreen;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.full{
	/*width: 3546px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.full ul{
	width: 1182px;
	height: 382px;
	float: left;
	position: relative;
}
.shoes1{
	width: 230px;
	height: 382px;
	float: left;
	margin-right: 20px;
	margin-left: 40px;
}
.shoes1:hover{
	background: gainsboro;
}
.shoes1 a img{
	width: 210px;
	height: 210px;
	margin: 10px 10px;
}
.shoes1 img{
	margin-left: 30%;
}
.shoes1 h1{
	font-size: 16px;
	text-align: center;
}
.shoes1 a p{
	font-size: 12px;
	color: black;
	text-align: center;
}
.shoes a{
	text-decoration: none;
}
.glyphicon-menu-left{
	font-size: 30px;
	color: gray;
	left: 0px;
}
.glyphicon-menu-right{
	font-size: 30px;
	color: gray;
	right: 0px;
}
.shoes>a{
	width: 40px;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	opacity: 0.6;
}

.foot1{
	width: 100%;
	height: 150px;
	background: #333;
	margin-top: 50px;
	border-bottom: 1px solid gray;
}
.foot2{
	width: 100%;
	height: 500px;
	background: #333;
}
.detail2{
	padding-top: 20px;
}

.detail4{
	margin-top: -30px;
	margin-left: 85px;
	padding-left: 20px;
	text-decoration: line-through;
}
.detail5{
	padding-top: 50px;
	border-bottom: 1px solid gainsboro;
}
.detail6{
	padding-top: 20px;
}
.detail6 p{
	padding-bottom: 20px;
}
.detail6 p a{
	text-decoration: none;
}
.detail6 p a img{
	border: 1px solid gainsboro;
}
.detail6 p a img:hover{
	border: 1px solid gray;
}
.detail7{
	padding-bottom: 30px;
}
.detail7 a .btn{
	padding-left: 20px;
	padding-right: 20px;
}
.detail7 a{
	text-decoration: none;
}
.detail7 span{
	margin-top: -80px;
	margin-left: 460px;
	color: black;
}
/*妯℃�佹*/
.modal-body{
	padding: 0px 15px;
}
.model-header h3{
	background: gray;
	color: white;
	font-size: 16px;
}

.slide{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	/*top: 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(../img/slide_bg.png);
	display: none;
	cursor: move;
}
.active{
	width: 480px;
	height:480px;
}
#star p{
	display: inline-block;
}
.tc{
	width: 500px;
	height: 400px;
   /* border: 1px solid gainsboro;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -280px;
	margin-top: -50px;
	z-index: 100;
	display: none;
}
.close{
	position: absolute;
	right: 10px;
	top: 10px;
	/*color: #fff;*/
	font-size: 16px;
	/*z-index:100;*/
	cursor: pointer;
	color: white;
}
.tc h3{
	font-size: 14px;
	background: black;
	color: white;
	margin-top: -5px;
	/*color: #fff;*/
	/*text-align: center;*/
	position:relative ;
	z-index: 100;
	line-height: 30px;
}
.xx{
	padding: 5px 20px;
	border: 1px solid gainsboro;
}
.xx:hover{
	
	border-color: black;
	cursor: pointer;
	
}
.bk{
	width: 100%;
	height: 100%;
	/*background: #000;*/
	/*opacity: 0.5;*/
	position: absolute;
	top: 0;
	left: 0;
}
#sure{
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: black;
	color: white;
	/*border-bottom: 1px solid gainsboro;*/
}
.line{
	border: 1px solid gainsboro;
	width: 500px;
	height: 100px;
	background:white;
}
#tc{
	width: 1800px;
	height: 100px;
    border: 1px solid gainsboro;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 1500px;
	margin-top: -350px;
	z-index: 10;
	display: none;
}
#context{
	height: 500px;
	background: white;
	width: 450px;
}
#context1{
	margin-left: 10px;
	height: 300px;
}
#context h4{
	font-size: 14px;
	
}
#cha{
	color: gray;
	font-size: 30px;
}
.current{
	background: gainsboro;
}
#look:hover{
	cursor: pointer;
}
#look{
	background: black;
	color: white;
}
