.header{
	width: 100%;
	height: 40px;
	background: #333333;
	line-height: 40px;
	font-size: 12px;
	font-family: "宋体";
}
.contain{
	width: 100%;
	height: 642px;
	position: relative;
}
.contain-top{
	height: 69px;
}
.contain-top-logo{
	float: left;
	margin-left: 300px;
	
}
.contain-top>div>span{
	width: 72px;
	height: 69px;
	float: right;
	font-size: 18px;
	color: #666666;
	text-align: center;
	line-height: 69px;
	margin-right: 65%;
}
.contain-bottom{
	width: 100%;
	height: 553px;
	background: url(../img/1.jpg) no-repeat;
	position: absolute;
}
.contain-bottom .tab{
	left: 70%;
	background: white;
	box-sizing: border-box;
	height: 450px;
	margin-top: 50px;
	width: 378px;
	position: absolute;
}
.contain .blank{
	width: 100%;
	height: 20px;
}
.login-footer{
	width: 100%;
	height: 20px;
}
.login-footer>p{
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #666666;
	background: white;
}
.form-top{
	width: 380px;
	height: 530px;
	margin: 12px 0 0;
	background: white;
	position: absolute;
	left: 70%;
}
.form-head{
	width: 248px;
	height: 41px;
	margin: 24px 15px 0 68px;
	font-size: 12px;
	text-align: center;
	
}
.form-head>a{
	float: left;
}
.form-regist{
	width: 123px;
	height: 40px;
}
.form-registbtn{
	color: #FFFFFF;
	line-height: 40px;
	background: black;
	border: none;
	width: 123px;
	height: 40px;
	outline: none;
	
}
.form-login{
	width: 123px;
	height: 40px;
}
.form-loginbtn{
	color: #333333;
	line-height: 40px;
	border: none;
	width: 123px;
	height: 40px;
	margin-left: -5px;
	outline: none;
}
.form-contain{
	width: 348px;
	height: 427px;
	margin: 0px 15px;
	padding: 30px 0 0 10px;
}
.form-contain-phone{
	width: 338px;
	height: 66px;
	padding: 0 0 0 8px;
	color: #666666;
}
.form-contain-checknum{
	width: 338px;
	height: 68px;
	padding: 0 0 0 8px;
	color: #666666;
}
.form-contain-email{
	width: 338px;
	height: 66px;
	padding: 0 0 0 8px;
	color: #666666;

}
.form-contain-password{
	width: 338px;
	height: 66px;
	padding: 0 0 0 8px;
	color: #666666;
}
.form-contain-repassword{
	width: 338px;
	height: 66px;
	padding: 0 0 0 8px;
	color: #666666;
}
.phone{
	width: 305px;
	height: 36px;
}
.phone-left{
	width: 60px;
	height: 36px;
	margin: 0 0 0 10px;
	border: solid 1px #D5D5D5;
	border-right: none;
	float: left;
	
}
.phone-left>p{
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 0px;
	color: #000000;
}
.box1{
	width: 235px;
	height: 36px;
	float: right;
	border: solid 1px #D5D5D5;
	border-left: none;
	
}
.phone-right{
	width: 200px;
	height: 35px;
	float: left;
	font-size: 12px;
	outline: none;
	border: none;
	border-bottom: 1px #D5D5D5 solid;
}
.phone-check,.checknumber-check,.newschecknumber-check,.password-check,.repassword-check{
	margin: 4px 0 0;
	padding: 0 0 0 25px;
	font-size: 12px;
	display: none;
}
.phone-ts,.checknumber-ts,.newschecknumber-ts,.password-ts,.repassword-ts{
	margin-bottom: 2px;
}
.checknumber{
	width: 298px;
	height: 38px;
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	color: #000000;
}
.checknumber-left{
	width: 60px;
	height: 36px;
	margin: 0 0 0 10px;
	border: solid 1px #D5D5D5;
	border-right: none;
	float: left;
}
.checknumber-right{
	width: 128px;
	height: 36px;
	border: solid 1px #D5D5D5;
	border-left: none;
	outline: none;
}
.checknumber-number{
	width: 90px;
	height: 36px;
	border: solid 1px #D5D5D5;
	background: #D5D5D5;
	color: #222222;
	float: right;
	font-size: 16px;
	margin-left: 10px;
}
.newschecknumber{
	width: 307px;
	height: 38px;
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	color: #000000;
}
.newschecknumber-left{
	width: 68px;
	height: 36px;
	margin: 0 0 0 10px;
	border: solid 1px #D5D5D5;
	border-right: none;
	float: left;
}
.newschecknumber-left>p{
	margin-bottom: 0;
}
.newschecknumber-right{
	width: 148px;
	height: 36px;
	border: solid 1px #D5D5D5;
	border-left: none;
	outline: none;
}
.newschecknumber-getnumber{
	width: 70px;
	height: 36px;
	border: solid 1px #122B40;
	background: #323232;
	float: right;
	margin-left: 10px;
}
.newschecknumber-getnumber>a{
	color: white;
	font-size: 12px;
}
.password{
	width: 305px;
	height: 36px;
}
.password-left{
	width: 60px;
	height: 36px;
	margin: 0 0 0 10px;
	border: solid 1px #D5D5D5;
	border-right: none;
	float: left;
	
}
.password-left>p{
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 0px;
	color: #000000;
}
.box2{
	width: 235px;
	height: 36px;
	float: right;
	border: solid 1px #D5D5D5;
	border-left: none;
	
}
.password-right{
	width: 200px;
	height: 35px;
	float: left;
	font-size: 12px;
	outline: none;
	border: none;
	border-bottom: 1px #D5D5D5 solid;
}
.repassword{
	width: 305px;
	height: 36px;
}
.repassword-left{
	width: 60px;
	height: 36px;
	margin: 0 0 0 10px;
	border: solid 1px #D5D5D5;
	border-right: none;
	float: left;
	
}
.repassword-left>p{
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 0px;
	color: #000000;
}
.box3{
	width: 235px;
	height: 36px;
	float: right;
	border: solid 1px #D5D5D5;
	border-left: none;
	
}
.repassword-right{
	width: 200px;
	height: 35px;
	float: left;
	font-size: 12px;
	outline: none;
	border: none;
	border-bottom: 1px #D5D5D5 solid;
}
.zhuce-xieyi{
	width: 274px;
	height: 30px;
}
.zhuce-xieyi-left{
	width: 24px;
	height: 28px;
	float: left;
	margin-left: 45px;
}
.zhuce-xieyi-right{
	width: 250;
	height: 28px;
	font-size: 12px;
	float: right;
	margin-top: 2px;
	outline: none;
}
.zhuce-btn{
	width: 312px;
	height: 40px;
	background: #000000;
	padding: 1px 6px;
	margin-top: 8px;
}
.zhuce-btn>input{
	width: 300px;
	height: 38px;
	background: black;
	color: white;
	font-size: 16px;
	border: none;
	text-align: center;
	line-height: 40px;
	outline: none;
}
.phone-right-ts,.password-right-ts,.repassword-right-ts{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 9px;
	margin-right: 9px;
}
.password-strength{
	width: 126px;
	height: 15px;
	float: right;
	margin-right: 25px;
}
.password-strength>div{
	width: 40px;
	height: 15px;
	float: right;
	background: #D5D5D5;
	color: white;
	text-align: center;
	margin-right: 1px;
}
.checknumber-number>:hover{
	cursor: pointer;
}
.checknumber-number{
	text-decoration: underline line-through overline ;
}
.num{
	font-family: "goudy stout";
}
